body{
	background: transparent url("../img/fondo2.jpg");
}	

#logo-grande{
	width: 60%;
	height: auto;


}



#titulo-principal{
	text-align: center;
	font-family: 'Lobster', cursive;


}

.red{
	color: #E81919;
}



#foto-nosotros{
	margin-bottom: 30px;
	margin-top: 50px;
	width: 90%;

}

#titulo-1:hover, h-1:hover, h-1:hover {
    background-color: #848484;
}

#titulo-1{
	text-align: center;
	margin-top: 40px;

}



#parrafo-1{
	margin-right: 30px;
	margin-left: 30px;


}

#foto-profesores{
	margin-bottom: 30px;
	margin-top: 50px;
	width: 90%;
}

#titulo-2:hover, h-2:hover, h-2:hover {
    background-color: #848484;
}

#titulo-2{
	text-align: center;
	margin-top: 40px;

}

#foto-agrupaciones{
	margin-bottom: 30px;
	margin-top: 50px;
	width: 90%;
}

#titulo-3:hover, h-3:hover, h-3:hover {
    background-color: #848484;
}

#titulo-3{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
}

.table-responsive{
	text-align: center;

}


#formulario{
	margin-bottom: 30px;
	margin-top: 50px;
	width: 90%;

}


.mapa{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;

}

#name{
	margin-top: 50px;
	color: black;
	font-family: 'Lobster', cursive;
}

#mail{
	margin-left: 13px;
	color: black;
	font-family: 'Lobster', cursive;

}

#message{
	font-family: 'Lobster', cursive;

}




.footer{
	padding-top: 30px;
}


@media (min-width: 576px){
	#logo-grande{
		width: 40%;
		height: auto;


	}

}


@media (min-width: 768px){
	#logo-grande{
		width: 20%;
		height: auto;


	}
}



